---
title: The Jam
date: 2020-02-01
updated: 2024-04-13T22:14:28+02:00
tags:
  - meta
  - tomminess
aliases:
  - The Jar
  - Jar
  - Marmelade
permalink: /jam/
redirect_from: ['/jar/', '/jam-whole/', '/jam/whole/']
ref: jam
image: /jam.webp
---
<main class='list'>
	<hgroup class='flex'>
		<h1 class='wavyBackgroundRazzmatazz'>The Jam</h1>
	</hgroup>
<article class='e-content'>
{% renderTemplate 'md' %}
I happen to make curious discoveries, as well as I end up having interesting thoughts which I need to save before they end up forgotten or while I find the right words to reformulate them and place them in the <cite>[Zibaldone](/zibenglish)</cite>.

I take all of these things and I throw them here.

## What is <cite>The Jam</cite>

In the wild, this is called <q>[Digital Garden](https://dev.to/jbranchaud/the-digital-garden-l10 'The Digital Garden on DEV.to')</q>, <q><cite><a lang='de' hreflang='en' href='/zettelkasten' title='Zettelkasten - tommi.space'>Zettelkasten</a></cite> system</q>. In my case, it is a definitely less ambitious experiment: it is mixed, heterogeneous, juicy, and sweet. I call it <cite>The Jam</cite>.

From this page, it is possible to start navigating in The Jam. There are two different ways to do this:
- by choosing a tag
- by opening one of the macro-notes (or <abbr title='Map Of Content'>MOC</abbr>s) below, and diving deeper and deeper in growingly branched notes.
{% endrenderTemplate %}
</article>

	<aside class='subgrid'>
		<div class='two-thirds'>
			{% render 'tags.liquid', site: site -%}
		</div>
		<div class='one-third'>
			{% render 'lang-filter.liquid', lang: lang -%}
		</div>
	</aside>

	<div class='entries-list grid'>
		<input type='checkbox' id='langFilter-en' class='langFilter'>
		<input type='checkbox' id='langFilter-it' class='langFilter'>
		<input type='checkbox' id='langFilter-fr' class='langFilter'>
		{% for entry in collections.jam %}
			<a class='little box {% unless entry.data.main %}background{% endunless %}' href='{{ entry.url }}' hreflang='{{ entry.data.lang }}' title='{{ entry.data.title }}' {% if entry.data.main %}data-target-main{% endif %}>
				<h2>{{ entry.data.title }}</h2>
				{% if entry.data.description %}
					<p>{{ entry.data.description | markdownify | strip_html | truncatewords: 30 }}</p>
				{% endif %}
				{% render 'entry-tags.liquid', tags: entry.data.tags, site: site, size: 'tiny' %}
			</a>
		{% endfor %}
	</div>
</main>

