---
title: Sconnesso
date: 2021-01-27
lang: it
primary: var(--purple)
image: /sconnesso.webp
description: Uno pseudo-podcast in cui, per alcuni minuti, racconto ciò che mi sorprende. Sconnesso è sbagliato, ma non scorretto. È atipico, ma non è poi così originale. È curato, ma non studiato alla perfezione. È esasperante, ma mai noioso. È improvvisato, ma non raffazzonato. Non è preparato, ma è attentamente pensato. È confuso e disordinato, ma non complicato. È sconnesso, ma non disconnesso.
class: sconnesso
sitemap:
  changefreq: monthly
  priority: 0.7
---
<main class='list'>
	<hgroup class='flex'>
		<h1 class='wavyBackgroundPurple'>Sconnesso</h1>
	</hgroup>

	<article class='e-content'>
		<p>{{ description }}</p>
	</article>

	<div class='entries-list subgrid'>
		{% for episode in collections.sconnesso %}
			<a class='one-third background box' href='{{ episode.url }}'>
				{% if episode.data.image %}
					<figure>
						<img src='{{ episode.data.image }}' alt='{{ episode.data.title }}'>
					</figure>
				{% endif %}
				<h2>{{ episode.data.title }}</h2>
				<p class='date'>{% if episode.data.location %}{{ episode.data.location }}, {% endif %}<time class='dt-published' datetime='{{ episode.date | date_to_xmlschema }}'>{% render 'date-it.liquid', date: episode.date %}</time></p>
				{% render 'entry-tags.liquid', tags: episode.data.tags, site: site, size: 'tiny' %}
			</a>
		{% endfor %}
	</div>

	<aside>
		{% render 'listen-on.liquid', lang: lang %}
	</aside>
</main>
