---
title: Tutti i tag
lang: it
permalink: /it/tags/
layout: page.html
description: Lista dei contenuti di questo sito, ordinati per argomento, se associati ad uno.
eleventyExcludeFromCollections: true
---
{% for tag in site.tags %}{% unless tag.url %}
	<section id='{{ tag.title | slugify }}' class='row'>
		<h2>{{ tag.title }}</h2>
		<p>{{ tag.description-it | markdownify }}</p>
		<ul class='three'>
			{% for entry in collections.all %}
				{% for thistag in entry.data.tags %}
					{% if thistag contains tag.title %}
						<li><a href='{{ entry.url }}' lang='{{ entry.data.lang }}' title='{{ entry.data.title }}'>{{ entry.data.title }}</a></li>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</ul>
	</section>
{% endunless %}{% endfor %}
