---
aliases: Everything I do
tags:
  - log
  - draft
redirect_from: [/everything/, /cose/, /stuff/, /giri/]
main: true
toc: false
description: A messy archive of things I have done, am doing, and will do.
layout: jam.html
---
<p>{{ description }}</p>

<div class='yellow box'>
	<p>This page and <a href='{{ site.source }}/src/branch/main/data/activities.json' >the dataset it is based on</a> are being <strong>heavily refactored</strong>. Sorry if everything is particularly confused around here. By Summer 2024, I hope find enough time to finally code and arrange everything.</p>
</div>

<ul>
	{% assign activities = activities | sort: 'end' | reverse %}
	{% for cosa in activities %}
		<li id='{{ cosa.title | slugify }}-{{ cosa.end | date: '%Y' }}'>
			{% if cosa.url %}
				<a href='{{ cosa.url }}' title='{{ cosa.title }}'>{{ cosa.title }}</a>
			{% else %}
				<strong>{{ cosa.title }}</strong>
			{% endif %}
			{% if cosa.start %}
				, {% render 'date-it.liquid', date: cosa.start %} ore {{ cosa.start | date: '%H:%M' }} – {% render 'date-it.liquid', date: cosa.end %} ore {{ cosa.end | date: '%H:%M' }}
			{% else %}
				, {% render 'date-it.liquid', date: cosa.end %}
			{% endif %}
			{% if cosa.coordinates %}
				, <a href='https://osm.org?mlat={{ cosa.coordinates[0] }}&mlon={{ cosa.coordinates[1] }}&zoom=18' title='{{ cosa.location }} su OpenStreetMap'>{{ cosa.location }}</a>
			{% elsif cosa.location == 'online' %}
			{% else %}
				, {{ cosa.location }}
			{% endif %}
			{% if cosa.jam %}
				<br>☞ {{ cosa.jam }}
			{% endif %}
			{% if cosa.tags != nil or cosa.aliases != nil %}
				<span class='mono dim'> ∙ {% for alias in cosa.aliases %} {{ alias }}{% endfor %}{% for tag in cosa.tags %} <span rel='tag'>{{ tag }}</span>{% endfor %}</span>
			{% endif %}
			{% if cosa.data %}
				<ul>{% for datum in cosa.data %}
					<li><a href='{{ datum.url }}' title='{{ datum.what }}'>{{ datum.what }}</a></li>
				{% endfor %}</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>

