---
title: Zibaldone
date: 2020-03-30
lang: it
ref: Zibaldone
description: Cose che vengono fuori dala testa di Tommi, in forma di articoli
type: CollectionPage
sitemap:
  priority: 0.8
  changefreq: monthly
eleventyImport:
  collections: ['zibaldone']
---
<main class='list'>
	<hgroup class='flex'>
		<h1 class='wavyBackgroundPurple'>Zibaldone</h1>
	</hgroup>

	<article class='e-content'>
		<p>Poco a che vedere con la saggezza e la serietà dell’omonimo leopardiano, qui un po’ più di allegria e stupidaggini.</p>
		<p>Dall’enciclopedia Treccani, <a href='https://treccani.it/vocabolario/zibaldone/' target='_blank'>żibaldóne</a>:<p>
		<blockquote><p>[…] Scartafaccio in cui si annotano, senza ordine e man mano che capitano, notizie, appunti, riflessioni, estratti di letture, schemi, abbozzi, ecc.</p></blockquote>
	</article>

	<aside class='subgrid'>
		<div class='two-thirds'>
			{% render 'tags.liquid', site: site %}
		</div>
		<div class='one-third'>
			{% render 'lang-filter.liquid', lang: lang %}
		</div>
	</aside>
	
	<div class='entries-list subgrid'>
		<input type='checkbox' id='langFilter-en' class='langFilter'>
		<input type='checkbox' id='langFilter-it' class='langFilter'>
		<input type='checkbox' id='langFilter-fr' class='langFilter'>
		{% for entry in collections.zibaldone %}
			<a class='one-third background box' href='{{ entry.url }}' hreflang='{{ entry.data.lang }}'>
				<h2>{{ entry.data.title }}</h2>
				<figure>
					{% comment %}{% if entry.data.image %}{% img entry.data.image, entry.data.title %}{% endif %}{% endcomment %}
				</figure>
				<p class='center'>{% if entry.data.location %}{{ entry.data.location }}, {% endif %}<time class='dt-published' datetime='{{ entry.date | date_to_xmlschema }}'>{% render 'date-it.liquid', date: entry.date %}</time></p>
				{% render 'entry-tags.liquid', tags: entry.data.tags, site: site, size: 'tiny' %}
			</a>
		{% endfor %}
	</div>
</main>

