---
date: 2020-06-25
updated: 2021-12-14T13:27:19+01:00
tags:
  - log
description: Real and fictional characters who left a mark in me
redirect_from: [/characters/,/persone/,/personaggi/,/idols/,/idoli/]
main: true
todo:
  - Use grid layout or something more effective
  - Better differentiate people and notes about people
---
<style>
	h-entry.note {
		width: unset;
		margin-left: unset;
		min-width: 70%;
	}
</style>

<section class='row'>
	<div class='one column'>
		<p>A collection of people who influenced my life or who I simply immensely admire.</p>
	</div>
</section>

{% for idol in people -%}
	<h2 class='title' id='{{ idol.who | slugify }}'>{{ idol.who }}</h2>
<a href='{{ idol.url }}'>
	<figure>
		<picture>
			<img src='{{ idol.image }}' title='{{ idol.who }}' alt='An image portraying {{ idol.who }}'>
		</picture>
		<figcaption>{% if idol.note -%}{{ idol.note | markdownify }}{% endif -%}</figcaption>
	</figure>
</a>

{% endfor -%}

{% for idol in collections.jam -%}
	{% for tag in idol.data.tags -%}
		{% capture idoltag -%}{{ tag | replace: '/', ' ' }}{% endcapture -%}
		{% if idoltag contains 'people' -%}
			<h2 class='title' id='{{ idol.data.title | slugify }}'>{{ idol.data.title }}</h2>
			<a href='{{ idol.url | url }}'><figure><img src='{{ idol.data.image }}' title='{{ idol.data.title }}' alt='An image portraying {{ idol.data.title }}'></figure></a>
			<p lang='{{ idol.data.lang }}'>{{ idol.data.description }}</p>
		{% endif -%}
	{% endfor -%}
{% endfor -%}
