---
date: 2020-06-25
updated: 2024-04-23
tags:
  - log
description: Real and fictional characters who left a mark in me
redirect_from: [/characters/,/persone/,/personaggi/,/idols/,/idoli/]
main: true
toc: false
layout: page.html
---
<div class='row'>
	<div class='one column'>
		<article>
			<p>This page displays the people I admire the most, be them real or fictional. The list does not follow any particular order</p>
		</article>
	</div>
</div>

<div class='large grid'>
	{% for idol in people %}
		{% unless idol.url contains 'tommi.space' %}
			<div class='vertical flex'>
				<div class='vertical flex box'>
					{% img idol.image, idol.who %}
					<a href='{{ idol.url }}'><h3 id='{{ idol.who | slugify }}'>{{ idol.who }}</h3></a>
					{% if idol.note %}
						<p>{{ idol.note | markdownify }}</p>
					{% endif %}
				</div>
			</div>
		{% endunless %}
	{% endfor %}
</div>

<h2 class='center'>People I also wrote about</h2>

<div class='large grid'>
	{% for idol in collections.jam %}
		{% for tag in idol.data.tags %}
			{% capture idoltag -%}{{ tag | replace: '/', ' ' }}{% endcapture %}
			{% if idoltag contains 'people' %}
				<div class='vertical flex'>
					<a class='vertical flex box' href='{{ idol.url | url }}'>
						{% img idol.data.image, idol.data.title %}
						<h3 id='{{ idol.data.title | slugify }}'>{{ idol.data.title }}</h3>
						<p lang='{{ idol.data.lang }}'>{{ idol.data.description }}</p>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
