---
date: 2020-06-25
tags:
  - log
description: Real and fictional characters who left a mark in me
redirect_from: [/characters/,/persone/,/personaggi/,/idols/,/idoli/]
main: true
toc: false
layout: wrapper.liquid
---
<main class='list'>
	<hgroup class='flex'>
		<h1 class='wavyBackgroundRazzmatazz'>People</h1>
	</hgroup>

<div class='entries-list grid'>
	{% for idol in people %}
		{% unless idol.url contains 'tommi.space' %}
			<div class='little box'>
				{% img idol.image, idol.who %}
				<a href='{{ idol.url }}'><h2 id='{{ idol.who | slugify }}'>{{ idol.who }}</h2></a>
				{% if idol.note %}
					<p>{{ idol.note | markdownify }}</p>
				{% endif %}
			</div>
		{% endunless %}
	{% endfor %}
</div>

<h2 class='center wide'>People I also wrote about</h2>

<div class='wide grid'>
	{% for idol in collections.jam %}
		{% for tag in idol.data.tags %}
			{% capture idoltag -%}{{ tag | replace: '/', ' ' }}{% endcapture %}
			{% if idoltag contains 'people' %}
				<a class='little box' href='{{ idol.url | url }}'>
					{% img idol.data.image, idol.data.title %}
					<h2 id='{{ idol.data.title | slugify }}'>{{ idol.data.title }}</h2>
					<p lang='{{ idol.data.lang }}'>{{ idol.data.description }}</p>
				</a>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div>
</main>
