---
title: tommi.space main stream
description: Stream of all the latest content published on tommi.space
altUrl: https://tommi.space/
permalink: /index.xml
layout: feed.xml.liquid
---
{% assign all = collections.jam | concat: collections.zibaldone | concat: collections.poetry | sort: 'date' | reverse %}
{% for entry in all limit: 10 %}
	<item>
		<title>{{ entry.data.title }}</title>
		<link>{{ site.url }}{{ entry.url }}</link>
		<description><![CDATA[{{ entry.content | replace: '"/', '"https://tommi.space/' | replace: '\'/', '\'https://tommi.space/' }}]]></description>
		<author>{{ site.author.email }} ({{ site.author.name }})</author>
		{% for tag in tags %}
			<category>{{ tag }}</category>
		{% endfor %}
		<guid>{{ site.url }}{{ entry.url }}</guid>
		<pubDate>{{ entry.date | date_to_rfc822 }}</pubDate>
	</item>
{% endfor %}

