---
title: Internet Awesomeness
subtitle: Internet Awesomeness entries
altUrl: https://tommi.space/internet-awesomeness/
permalink: /internet-awesomeness.xml
layout: feed.xml.liquid
---
{% assign ia = internetAwesomeness | where: 'down', '' | sort: 'added' | reverse %}
{% for entry in ia limit: 10 %}
	<item>
		<title>{{ entry.title }}</title>
		<link>{{ entry.url }}</link>
		<description><![CDATA[{{ entry.description | markdownify | replace: '"/', '"https://tommi.space/' | replace: '\'/', '\'https://tommi.space/' }}]]></description>
		<author>{{ site.author.email }} ({{ site.author.name }})</author>
		<category>{{ tags | replace: ' ', '</category><category>' }}</category>
		<guid>{{ entry.url }}</guid>
		<pubDate>{{ entry.added | date_to_rfc822 }}</pubDate>
	</item>
{% endfor %}
