---
title: Sconnesso
image: https://tommi.space/sconnesso.webp
permalink: /sconnesso.xml
altUrl: https://tommi.space/sconnesso/
lang: it
---
<?xml version='1.0' encoding='utf-8'?>
<rss version='2.0' xmlns:content='http://purl.org/rss/1.0/modules/content/' xmlns:atom='http://www.w3.org/2005/Atom' xmlns:itunes='http://www.itunes.com/dtds/podcast-1.0.dtd'>
	<channel>
		<title>{{ title }}</title>
		<description>{{ sconnesso.description | markdownify | escape | strip_newlines }}</description>
		<link>{{ altUrl }}</link>
		<atom:link href='{{ site.url }}{{ page.url }}' rel='self' type='application/rss+xml'/>
		<itunes:author>{{ site.author.name }}</itunes:author>
		<itunes:image href='{{ image }}'/>
		<language>it</language>
		<managingEditor>{{ sconnesso.email }} ({{ site.author.name }})</managingEditor>
		<webMaster>{{ sconnesso.email }} ({{ site.author.name }})</webMaster>
		<copyright>copyright © ({{ site.author.name }})</copyright>
		<itunes:owner>
			<itunes:name>{{ site.author.name }}</itunes:name>
			<itunes:email>{{ sconnesso.email }}</itunes:email>
		</itunes:owner>
		<itunes:category text='Society &amp; Culture'>
			<itunes:category text='Personal Journals'/>
		</itunes:category>
		<itunes:type>episodic</itunes:type>
		<itunes:explicit>false</itunes:explicit>

		{% for episode in collections.sconnesso %}
			<item>
				<title>{{ episode.data.title | escape }}</title>
				<itunes:author>{{ site.author.name }}</itunes:author>
				<itunes:season>{{ episode.data.season }}</itunes:season>
				<itunes:episode>{{ episode.data.episode }}</itunes:episode>
				{%- comment %}<itunes:order>{% increment counter %}</itunes:order>{% endcomment -%}
				<itunes:episodeType>full</itunes:episodeType>
				<itunes:explicit>{%- if episode.data.explicit -%}yes{%- else -%}no{%- endif -%}</itunes:explicit>
				{% if episode.data.image %}<itunes:image href='{{ episode.data.image }}' />{% endif %}
				<link>{{ site.url }}{{ episode.url }}</link>
				<guid isPermaLink='true'>{{ site.url }}{{ episode.url }}</guid>
				<pubDate>{{ episode.date | date: '%a, %-d %b %Y %H:%M:%S %z' }}</pubDate>
				<itunes:keywords>
					{%- if episode.tags %}{%- for tag in episode.tags -%}{{ tag }}, {%- endfor -%}{% endif -%}
				</itunes:keywords>
				<itunes:duration>{{ episode.data.length }}</itunes:duration>
				<enclosure
					url='{{ site.url }}/sconnesso/{{ episode.data.audio }}.{{ episode.data.format }}'
					type='audio/{{ episode.data.format }}'
				/>
				<description>
					<![CDATA[{{ episode.content | markdownify | strip_newlines }}]]>
				</description>
			</item>
		{% endfor %}
	</channel>
</rss>
