<?xml version='1.0' encoding='utf-8'?>
<xsl:stylesheet version='3.0' xmlns:xsl='http://www.w3.org/1999/XSL/Transform' xmlns:atom='http://www.w3.org/2005/Atom' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:itunes='http://www.itunes.com/dtds/podcast-1.0.dtd'>
	<xsl:output method='html' version='1.0' encoding='UTF-8' indent='yes'/>
	<xsl:template match='/'>
		<html xmlns='http://www.w3.org/1999/xhtml'>
			<head>
				<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
				<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'/>
				<meta charset='UTF-8'/>
				<meta name='color-scheme' content='dark light'/>
				<link rel='stylesheet' href='/style.css'/>
				<link rel='icon' href='/favicon.ico'/>
				<title><xsl:value-of select='/rss/channel/title'/></title>
				<meta name='description' content='{{ description }}'/>
				<meta property='og:description' content='{{ description }}'/>
				<meta property='og:author' content='{{ site.author.name }}'/>
				<meta name='author' content='{{ site.author.name }}'/>
				<meta property='og:site_name' content='{{ site.title }}'/>
				<meta name='generator' content='Eleventy'/>
				{% if related_page %}<link rel='canonical' href='{{ related_page.url }}'/>{% endif %}
				<meta property='og:locale' content='{{ lang }}'/>
			</head>
			<body>
				<hgroup class='flex'>
					<h1 class='wavyBackgroundRed'><xsl:value-of select='/rss/channel/title'/></h1>
				</hgroup>
				{{ content }}
				{% render 'footer.liquid', lang: lang, eleventyVersion: eleventy.version, source: site.source, path: page.inputPath, url: page.url %}
			</body>
		</html>
	</xsl:template>
</xsl:stylesheet>

