<?xml version='1.0' encoding='utf-8'?>
<?xml-stylesheet href='{{ page.url | replace: '.xml', '.xsl' }}' type='text/xsl'?>
<rss version='2.0' xmlns:atom='http://www.w3.org/2005/Atom'>
	<channel>
		<title>{{ title }}</title>
		<description>{{ description }}</description>
		<atom:link href='{{ site.url }}{{ page.url }}' rel='self' type='application/rss+xml' />
		<link>{{ altUrl }}</link>
		{{ content }}
	</channel>
</rss>
