---
layout: wrapper.liquid
---
<main class='h-entry simple'>
	<hgroup class='flex'>
		<h1 class='p-name wavyBackground{%- if page.inputPath contains 'zibaldone' -%}Purple{%- else -%}Red{%- endif -%}'><a class='u-uid u-url' href='{{ site.url }}{{ page.url }}'>{{ title }}</a></h1>
		{% if subtitle %}
			<h2>{{ subtitle }}</h2>
		{% endif %}
	</hgroup>

	<aside>
		<p class='center no-background'><time class='dt-published' datetime='{{ date | date_to_xmlschema }}'>{% if lang == 'it' %}{% render 'date-it.liquid', date: date %}{% else %}{{ date | date: '%-d %B %Y' }}{% endif %}</time></dd></p>
		<dl id='tags' class='flex gap-2xs'><div id='tags'><dt>Tags:</dt>{% render 'page-tags.liquid', tags: tags, site: site, size: '' %}</dl>
	</aside>

	<article class='e-content{% if serif %} serif{% endif %}' data-pagefind-body>
		{% if include %}
			{{ include }}
		{% endif %}
		{{ content }}
	</article>
</main>

