---js
{
	title: 'Now',
	location: function (data) {
		return this.site.author.based
	},
	description: 'An incomplete and superficial summary of what I am doing',
	layout: 'sidebar.vto',
	ref: 'now',
	permalink: '/now/',
	include: "<div class='blue box'>This page is inspired by <a href=https://sive.rs/nowff title='Now page - Derek Sivers'>an initiative</a> by <a href=https://sive.rs title='Derek Sivers’ personal website'>Derek Sivers</a> in 2015. To learn more, visit <a href=https://nownownow.com/about title='About NowNowNow'>nownownow.com</a>, a <a href=https://en.wikipedia.org/wiki/Webring title='Webring on Wikipedia'>webring</a> collecting sites that contain a <code>/now</code> page.</div>",
	updated: function (data) {
		return this.collections.now[0].data.date
	},
	eleventyExcludeFromCollections: false,
}
---
<p>{{ description }}:</p>

{% assign things = collections.now | where: 'data.lang', lang %}
{% for now in things %}
		{% if forloop.first %}
			<div id={{ now.fileSlug }}>
				{{ now.content | markdownify }}
			</div>
		{% elsif forloop.index == 2 %}
			<h2 id=previously>🔙 Previously doing</h2>
			<div id={{ now.fileSlug }} class=box>
				<h3>{{ now.data.date | date_to_long_string }}</h3>
				{{ now.content | replace: 'h2', 'h4' }}
			</div>
		{% else %}
			<div id={{ now.fileSlug }} class=box>
				<h3>{{ now.data.date | date_to_long_string }}</h3>
				{{ now.content | replace: 'h2', 'h4' }}
			</div>
		{% endif %}
{% endfor %}
