{% for post in zibaldone limit:1 %}
	<article class='half subgrid'>
		<div class='half flex' style='transform: translateY(1em)'>
			<h2 style='color: #FFF; margin: 0' class='center wavyBackgroundPurple'>
				{% if lang == 'it' %}Ultimo articolo{% else %}Latest post{% endif %}
			</h2>
		</div>
		<a href='{{ post.url }}' hreflang='{{ post.data.lang }}' class='half | box {% if post.data.tags contains 'newsletter' %}newsletter{% else %}purple{% endif %}' title='{{ post.data.title }}'>
			<h3>{{ post.data.title }}</h3>
			{% if post.data.description %}
				<p>{{ post.data.description | markdownify | strip_html }}</p>
			{% endif %}
			<figure>
				<img src='{{ img post.data.image }}' alt='{{ post.data.title }}'>
			</figure>
		</a>
	</article>
{% endfor %}
