{% assign buildTime = 'now' | date: '%Y%m%d' %}
{% assign introPrinted = '0' %}

{% for activity in activities reversed limit:6 %}
	{% assign activityEnd = activity.end | date: '%Y%m%d' %}
	{% if activityEnd >= buildTime %}
		{% if introPrinted == '0' %}
		<p>{% if lang == 'it' %}Altrimenti, qui di seguito potrebbero esserci ottime occasioni per trovarsi. Batti un colpo se ci sarai anche tu!{% else %}Otherwise, the following activities could be great occasions to get together. Hit me up if you plan to attend any of them!{% endif %}</p>
			<h3>{% if lang == 'it' %}Prossime attività{% else %}Upcoming activities{% endif %}</h3>
			<div class='flex row'>
			{% assign introPrinted = '1' %}
		{% endif %}
			<a href='{{ activity.url }}' class='little box'>
				<h4>{{ activity.title }}</h4>
				<p>
					{% if activity.location %}
						<strong>{{ activity.location }}</strong>, 
					{% endif %}
					{% assign start_date = activity.start | date: '%Y%m%d' %}
					{% assign end_date = activity.end | date: '%Y%m%d' %}
					{% if activity.start and end_date != start_date %}
						<time datetime='{{ activity.start | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% if lang == 'it' %}{% render 'date-it.liquid', date: activity.start %}{% else %}{{ activity.start | date: '%-d %b' }}{% endif %} → 
					{% endif %}
					<time datetime='{{ activity.end | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% if lang == 'it' %}{% render 'date-it.liquid', date: activity.end %}{% else %}{{ activity.end | date: '%-d %b' }}{% endif %}</time></p>
			</a>
	{% endif %}
	{% if forloop.last and introPrinted == '1' %}
			</div>
		{% assign introPrinted = '2' %}
	{% endif %}
{% endfor %}

